# Tarea 1 - Pandas y Matplotlib

- Utilizando los datos de exoplanetas de la Sesión 2, haga lo siguiente
1. Cree un nuevo dataframe
2. Utilice el groupby para agrupar los planetas por su método de descubrimiento.
3. Utilizando un groupby().agg(), agrupe los planetas por su método de descubrimiento, y agreguelos por sus masas.
4. Cree un gráfico de barras donde cada barra sea uno de los métodos de descubrimiento, y el eje y sea el total de las masas de los planetas descubiertos por ese método.

<img src='Tarea1-1.png' width=300>

<img src='Tarea1-2.png' width=300>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv('oec.csv')
pd.set_option('display.max_columns', None)
data.head()

,PlanetIdentifier,TypeFlag,PlanetaryMassJpt,RadiusJpt,PeriodDays,SemiMajorAxisAU,Eccentricity,PeriastronDeg,LongitudeDeg,AscendingNodeDeg,InclinationDeg,SurfaceTempK,AgeGyr,DiscoveryMethod,DiscoveryYear,LastUpdated,RightAscension,Declination,DistFromSunParsec,HostStarMassSlrMass,HostStarRadiusSlrRad,HostStarMetallicity,HostStarTempK,HostStarAgeGyr,ListsPlanetIsOn
0,HD 143761 b,0,1.0450,NaN,39.845800,0.2196,0.037,270.6,NaN,NaN,NaN,NaN,NaN,RV,2016.0,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
1,HD 143761 c,0,0.0790,NaN,102.540000,0.4123,0.050,190.0,NaN,NaN,NaN,NaN,NaN,RV,2016.0,16/07/11,16 01 03,+33 18 13,17.236,0.889,1.362,-0.31,5627.0,NaN,Confirmed planets
2,KOI-1843.03,0,0.0014,0.054,0.176891,0.0048,NaN,NaN,NaN,NaN,72.00,NaN,NaN,transit,2012.0,13/07/15,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
3,KOI-1843.01,0,NaN,0.114,4.194525,0.0390,NaN,NaN,NaN,NaN,89.38,NaN,NaN,transit,NaN,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial
4,KOI-1843.02,0,NaN,0.071,6.356006,0.0520,NaN,NaN,NaN,NaN,88.24,NaN,NaN,transit,NaN,NaN,19 00 03.14,+40 13 14.7,NaN,0.460,0.450,0.00,3584.0,NaN,Controversial

In [3]:
a = data.columns
a

Index(['PlanetIdentifier', 'TypeFlag', 'PlanetaryMassJpt', 'RadiusJpt',
       'PeriodDays', 'SemiMajorAxisAU', 'Eccentricity', 'PeriastronDeg',
       'LongitudeDeg', 'AscendingNodeDeg', 'InclinationDeg', 'SurfaceTempK',
       'AgeGyr', 'DiscoveryMethod', 'DiscoveryYear', 'LastUpdated',
       'RightAscension', 'Declination', 'DistFromSunParsec',
       'HostStarMassSlrMass', 'HostStarRadiusSlrRad', 'HostStarMetallicity',
       'HostStarTempK', 'HostStarAgeGyr', 'ListsPlanetIsOn'],
      dtype='object')

In [4]:
b = data.DiscoveryMethod
b

0            RV
1            RV
2       transit
3       transit
4       transit
         ...
3579         RV
3580         RV
3581         RV
3582         RV
3583    transit
Name: DiscoveryMethod, Length: 3584, dtype: object

In [67]:
df1 = pd.DataFrame({'DiscoveryMethod': ['RV','imaging','microlensing', 'timing', 'transit']}).agg({'DiscoveryMethod':'count'})
df1

DiscoveryMethod    5
dtype: int64

In [73]:
data_met = data.groupby('PlanetIdentifier', as_index = False).agg({'DiscoveryMethod':'count'})
data_met

     PlanetIdentifier  DiscoveryMethod
0            11 Com b                1
1            11 UMi b                1
2            14 And b                1
3            14 Her b                1
4            14 Her c                1
...               ...              ...
3577       tau Ceti e                1
3578       tau Ceti f                1
3579        tau Gem b                1
3580        wasp-92 b                1
3581         xi Aql b                1

[3582 rows x 2 columns]

In [75]:
byMassmethod = data.groupby ('DiscoveryMethod').agg({'PlanetaryMassJpt': 'count'}),
byMassmethod

(                 PlanetaryMassJpt
 DiscoveryMethod
 RV                            688
 imaging                        45
 microlensing                   40
 timing                         22
 transit                       466,)

In [77]:
plt.hist(data.byMassmethod.value_counts())

AttributeError: 'DataFrame' object has no attribute 'byMassmethod'

In [65]:
()

TypeError: hist() missing 1 required positional argument: 'x'